/* adicionando as variaveis e um padrão para a pagina */

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --white-opacity: hsla(0, 0%, 100%, 0.025);
  --light-gray: hsl(217, 12%, 63%);
  --medium-gray: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --font-size: 15px;
  --font-family: "Overpass", sans-serif;
  --font-weight: 400;
  --line-height: 1.5;
  --border-radius: 30px;
  --transition: 0.3s ease-in-out;
  --margin-bottom: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  height: 100vh;
  width: 100vw;
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--white);
  background-color: var(--very-dark-blue);
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 400px;
  min-width: 360px;
  padding: 2rem;
  border-radius: 20px;
  background-image: linear-gradient(
    to bottom,
    hsl(215, 22%, 15%),
    hsl(215, 27%, 12%)
  );
  height: 390px;
}

@media screen and (min-width: 375px) {
  main {
    padding: 1.5rem;
    margin: 1rem;
    min-width: auto;
  }
}

/* toda parte que recebe dados do usuario */

.input-icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 17px;
  box-sizing: content-box;
  padding: 1rem;
  background-color: var(--white-opacity);
  border-radius: 50%;
  margin-bottom:var(--margin-bottom);
}

.input-title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: .8rem;
}

.input-paragraph {
  margin-bottom:var(--margin-bottom);
  color: var(--light-gray);
}

.input-unorderdList {
  margin-bottom:var(--margin-bottom);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.input-unorderdList li {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white-opacity);
  color: var(--light-gray);
}

.input-unorderdList li > button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white-opacity);
  color: var(--light-gray);
  border: none;
  transition: var(--transition);
}

.input-unorderdList li button:hover {
  background-color: var(--orange);
  color: var(--white);
  cursor: pointer;
}

#selected, .input-unorderdList li button:active {
  background-color: var(--light-gray);
  color: var(--white);
}

.input-button {
  width: 100%;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--orange);
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: var(--transition);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.input-button:hover {
  background-color: var(--white);
  color: var(--orange);
}

/* toda parte que mostra os resultados do usuario */

.output {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.output-icon {
  margin: .5rem;
}

.output-result {
  box-sizing: content-box;
  padding: .5rem 1.5rem;
  border-radius: var(--border-radius);
  background-color: var(--white-opacity);
  color: var(--orange);
  margin: 1rem 0 2rem;
  font-weight: var(--font-weight);
}

.output-title {
  font-weight: 700;
  margin-bottom: 1rem;
}

.output-paragraph {
  color: var(--light-gray);
  font-weight: var(--font-weight);
}

/* rodape */
.attribution {
  position: fixed;
  bottom: 15px;
}

.attribution a {
  color: var(--orange);
}